<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTC-8">
  <title>Belly Button Biodiversity</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Belly Button Biodiversity</h1>
        <div id="plots">
        <script src="plots.js"></script>
          <div class="dropdownmenu">
            <select id="seldataset" onchange="optionChanged(this.value)"></select>
          </div>
         <div id="pie"></div>   
        </div>	
      </div>	
    </div>	
  </div>	
</body>  

  </html>